In [33]:
import pandas as pd
import numpy

In [39]:
pd.__version__
data = pd.read_csv("C:\\Users\\Saturn\\Documents\\Dataset Metadata\\etl.csv")

In [40]:
data.head(5)

   ETL        Pipeline  Input ComputeProcess Output
0    1  Landing To Raw  25;33       ToRaw.py     36
1    2    RawToCleaned     36   ToCleaned.py     37
2    3     CleanToPrep  25;37         ToPrep     38
3    4      CleantoOut  38;37          ToOut  40;41

In [9]:
#Split the column by ; and call explode
#https://www.w3resource.com/pandas/dataframe/dataframe-explode.php

In [41]:
data['Input'] = data['Input'].str.split(';')
data['Output'] = data['Output'].str.split(';')

In [42]:
exp1_stg = data.explode('Input')
exploded_df = exp1_stg.explode('Output')

In [43]:
exploded_df.head(10)

   ETL        Pipeline Input ComputeProcess Output
0    1  Landing To Raw    25       ToRaw.py     36
0    1  Landing To Raw    33       ToRaw.py     36
1    2    RawToCleaned    36   ToCleaned.py     37
2    3     CleanToPrep    25         ToPrep     38
2    3     CleanToPrep    37         ToPrep     38
3    4      CleantoOut    38          ToOut     40
3    4      CleantoOut    38          ToOut     41
3    4      CleantoOut    37          ToOut     40
3    4      CleantoOut    37          ToOut     41

In [16]:
#write exploded csv
explode_df.to_csv("C:\\Users\\Saturn\\Documents\\Dataset Metadata\\etl_exploded.csv",index=False,header=True)